<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/style.css?t=90051322">
	<script src="{{site.baseurl}}/assets/script.js?t=93f1a66c"></script>
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width">
</head>
<body class="-menu-visible">
	<div class="doc-layout">
		<div class="toggle menu-toggle js-menu-toggle"></div>
		<div class="menu toc-menu">
			<ul>
				<li class="menu-item -level-0 -parent">
					<ul class="submenu">
						<li class="menu-item -level-1 -parent">
							<span class="title">Blockchain Guide Site</span>
							<ul class="submenu">
								<li class="menu-item -level-2 -parent">
									<a class="link title link-homepage {% if page.url == '/' %} -active {% endif %}" href="{{site.baseurl}}/">Homepage</a>
									<ul class="submenu">
										<li class="menu-item -level-3 -parent"><span class="title">Blockchain guide for developers</span>
											<ul class="submenu">
												<li class="menu-item -level-4"><a class="link title link-guidesblockchainguide {% if page.url == '/Blockchain%20guide%20for%20developers/Programming%20a%20blockchain' %} -active {% endif %}" href="{{site.baseurl}}/Blockchain%20guide%20for%20developers/Programming%20a%20blockchain">Programming a blockchain</a>
													<ul class="headings heading-list">
														<li class="heading-item -depth-3"><a class="hlink link-for-python-programmers" href="{{site.baseurl}}/Blockchain%20guide%20for%20developers/Programming%20a%20blockchain#for-python-programmers">For Python programmers</a>
														</li>
														<li class="heading-item -depth-3"><a class="hlink link-for-js-programmer" href="{{site.baseurl}}/Blockchain%20guide%20for%20developers/Programming%20a%20blockchain#for-js-programmer">For Js programmer</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item -level-3 -parent"><span class="title">Smart contracts guide</span>
											<ul class="submenu">
												<li class="menu-item -level-4"><a class="link title link-guidesethereumcontracts {% if page.url == '/Smart%20contracts%20guide/Smart%20contracts' %} -active {% endif %}" href="{{site.baseurl}}/Smart%20contracts%20guide/Smart%20contracts">Smart contracts</a>
												</li>
											</ul>
										</li>
										<li class="menu-item -level-3 -parent"><span class="title">Dapp building guide</span>
											<ul class="submenu">
												<li class="menu-item -level-4"><a class="link title link-guidesdapp-developmentreadme {% if page.url == '/Dapp%20building%20guide/Dapp%20building' %} -active {% endif %}" href="{{site.baseurl}}/Dapp%20building%20guide/Dapp%20building">Dapp building</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body page-guidesblockchainguide">
			<div class="header-nav">
				<div class="right">
				</div>
			</div>
			<div class="markdown-body">
				<h1 id="programming-a-blockchain-">{{page.title}}</h1>
				{{content}}
			</div>
			<!-- <div class="footer-nav">
				<div class="left"><a href="../../guides/hypothesis.html"><span class="title">Hypotheis</span></a></div>
				<div class="right"><a href="../../guides/ethereum/contracts.html"><span class="label">Next: </span><span class="title">Smart contracts</span></a></div>
			</div> -->
		</div>
	</div>
</body>
</html>